
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .scrolldown-vertical>.row>.cardhorizontal {
        display: inline-block;
    }    

    .AddNewAddress {
        width: 160px !important;
    }
    
    .AddNewAddress .MuiCardContent-root {
        height: 209px;
    }

    .MuiCardContent-root {
        height: 175px;
    }
    
    .AddNewAddress .vertical-center {	
        -ms-transform: translateY(230%);
        transform: translateY(230%);
      }

    .cardhorizontal {
        width: 300px;
    }
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #NavMenu {
        top: auto;
    }
    .btn-cart {
        display: none;
    }
    .menuLink-cart {
        display: block;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }